.home-hero-banner {
    // background-image: url("../assets/chicago-banner.jpg");
    background-color: $black;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.company-logo {
    height: auto;
    width: 500px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.school-logo {
    height: auto;
    width: 300px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(40%, -50%);
}