.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-detail-container {
    position: absolute;
    bottom: 20px;
}

.profile-section {
    .row {
        min-height: 320px;
    }
}