.section {
    &:nth-of-type(2n + 1) {
        background-color: $section-background-color;
    }
}

.home-name-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-section {
    .row {
        min-height: 320px;
    }
}

.personal-photo {
    width: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.card-flip {
    &:hover .flip,
    &.hover .flip {
        transform: rotateY(180deg);
    }
}

.card-front,
.card-back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

.card-back {
    position: absolute;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
.card-back {
    transform: rotateY(180deg);
}

.flip {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
