//sass imports
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss'; // for media query mixins

// Mobile portrait breakpoint - max-width: 575px
@include media-breakpoint-down(xs) {
    .home-name-intro {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .personal-photo {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .company-logo,
    .school-logo {
        display: none;
    }
    .skills-container,
    .recommended-books-flex {
        display: block !important;
    }
    .nav-mobile {
        display: block;
    }
    .nav-hamburger-icon {
        display: inline-block !important;
    }
    .navbar-desktop {
        display: none;
    }
    .nav-link {
        padding-left: 10px;
    }
    .width-eighty {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Mobile landscape breakpoint - max-width: 767px
@include media-breakpoint-down(sm) {
    .personal-photo {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .introduction-flex-container {
        display: block !important;
    }
    .recommended-books-container {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}
