//sass imports
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss'; // for media query mixins

@include media-breakpoint-down(xs) {
    .home-name-intro {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .personal-photo {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .company-logo,
    .school-logo {
        display: none;
    }
}
