//Colors
$white: #FFF;
$black: #000;

// Text Colors
$paragraph-text-color: #666666;
$heading-color: #008B8B;
$secondary-heading-color: #A0522D;

// Background Colors
$section-background-color: #f2f2f2;